<div class="background-image height-100vh large-height-80vh" style="
                            background-color: #fbe7d9;
                          ">
  <div class="wrapper position-relative padding-horizontal-xsmall large-width-60pc flex full-height flex-column justify-center padding-vertical-medium">
    <div class="color-main text-center bold">
      {{ section.settings.subtitle | escape }}
    </div>
    <h2 class="h2 text-center">
      {{ section.settings.title | escape }}
    </h2>
    <div class="text-center">
      {{ section.settings.content }}
    </div>
  </div>
</div>

{% schema %}

{
  "name": "Less Is More",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtítulo",
      "default": "LESS IS MORE"
    }, {
      "type": "text",
      "id": "title",
      "label": "Título",
      "default": "¿Qué ofrecemos?"
    }, {
      "type": "richtext",
      "id": "content",
      "label": "Contenido",
      "default": "<p>Sabemos lo abrumador que puede ser comprar productos de belleza en una tienda física al tener tantas opciones en el mercado.</p>"
    }
  ],
  "presets": [
    {
      "name": "¿Qué ofrecemos?",
      "category": "Description"
    }
  ]
}

{% endschema %}
