<div>
    {% if section.settings.text != blank %}
        <div class="wrapper">
            <div class="page-width feature-row">
                <div class="feature-row flex-column">
                    <div class="feature-row__text">
                        <h2 class="h3 rte-setting featured-row__subtext text-center">{{ section.settings.text }}</h2>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="separator"></div>
    <div class="wrapper">
        <div class="feature-row margin-vertical-small">

            {%- for block in section.blocks -%}                
                <img class="lazyload" 
                    src="{{ block.settings.logo | img_url: '150x' }}" 
                    alt="{{ block.settings.logo.alt | escape }}">
            {%- endfor -%}
        </div>
    </div>
    <div class="separator margin-bottom-small"></div>
</div>

{% schema %}

{
    "name": {
        "cs": "Featured social posts",
        "da": "Featured social posts",
        "de": "Featured social posts",
        "en": "Featured social posts",
        "es": "Publicaciones de redes sociales",
        "fi": "Featured social posts",
        "fr": "Featured social posts",
        "it": "Featured social posts",
        "ja": "Featured social posts",
        "ko": "Featured social posts",
        "nb": "Featured social posts",
        "nl": "Featured social posts",
        "pl": "Featured social posts",
        "pt-BR": "Featured social posts",
        "pt-PT": "Featured social posts",
        "sv": "Featured social posts",
        "th": "Featured social posts",
        "tr": "Featured social posts",
        "vi": "Featured social posts",
        "zh-CN": "Featured social posts",
        "zh-TW": "Featured social posts"
    },
    "settings": [
        {
            "type": "richtext",
            "id": "text",
            "label": {
                "cs": "Text",
                "da": "Tekst",
                "de": "Text",
                "en": "Text",
                "es": "texto",
                "fi": "Teksti",
                "fr": "Texte",
                "it": "Testo",
                "ja": "テキスト",
                "ko": "텍스트",
                "nb": "Tekst",
                "nl": "Tekst",
                "pl": "Tekst",
                "pt-BR": "Texto",
                "pt-PT": "Texto",
                "sv": "Text",
                "th": "ข้อความ",
                "tr": "Metin",
                "vi": "Văn bản",
                "zh-CN": "文本",
                "zh-TW": "文字"
            },
            "default": "<p>Aliados de las mejores marcas.</p>"
        }
    ],
    "presets": [
        {
            "name": {
                "cs": "Featured social posts",
                "da": "Featured social posts",
                "de": "Featured social posts",
                "en": "Featured social posts",
                "es": "Publicaciones de redes sociales",
                "fi": "Featured social posts",
                "fr": "Featured social posts",
                "it": "Featured social posts",
                "ja": "Featured social posts",
                "ko": "Featured social posts",
                "nb": "Featured social posts",
                "nl": "Featured social posts",
                "pl": "Featured social posts",
                "pt-BR": "Featured social posts",
                "pt-PT": "Featured social posts",
                "sv": "Featured social posts",
                "th": "Featured social posts",
                "tr": "Featured social posts",
                "vi": "Featured social posts",
                "zh-CN": "Featured social posts",
                "zh-TW": "Featured social posts"
            },
            "category": {
                "cs": "Obrázek",
                "da": "Billede",
                "de": "Foto",
                "en": "Promotional",
                "es": "Promocional",
                "fi": "Kuva",
                "fr": "Image",
                "it": "Immagine",
                "ja": "画像",
                "ko": "이미지",
                "nb": "Bilde",
                "nl": "Afbeelding",
                "pl": "Obraz",
                "pt-BR": "Imagem",
                "pt-PT": "Imagem",
                "sv": "Bild",
                "th": "รูปภาพ",
                "tr": "Görsel",
                "vi": "Hình ảnh",
                "zh-CN": "图片",
                "zh-TW": "圖片"
            }
        }
    ],
    "max_blocks": 5,
    "blocks": [
        {
            "type": "logo",
            "name": "Logo",
            "settings": [
                {
                    "id": "logo",
                    "type": "image_picker",
                    "label": "Logo"
                }
            ]
        }
    ]
}

{% endschema %} 