<div>
  {% section 'about-description' %}
  {% section 'about-lessismore' %}
  {% section 'about-collectingmoments' %}
  {% section 'about-becomeamember' %}
  {% section 'about-youdeservethis' %}
</div>